.Login .left_area .buttom_wrapper ul > * + * {
  margin-left: 10px;
}
.Login .left_area .buttom_wrapper ul {
  display: flex;
  align-items: center;
}
.Login .right_area {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Login form {
  margin-top: 2rem;
}
.Login form > * + * {
  margin-top: 1rem;
}
.Login .right_area .form_area {
  width: 440px;
}
.Login .right_area .form_area > h1 {
  font-family: Poppins;
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  color: #2f3367;
}
.Login .right_area .form_area > p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  margin-top: 10px;
  color: #303468;
}
.Login .right_area .form_area .bottom_area {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  border-top: 1px solid #ececf0;
}
.Login .right_area .form_area .bottom_area p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #393d6e;
}
.Login .right_area .form_area .bottom_area a {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #007dfa;
}
.Login form .button_wrapper {
  margin-top: 5rem;
  display: flex;
  justify-content: flex-end;
}
.Login form .button_wrapper button {
  height: 70px;
  width: 176px;
  cursor: pointer;
  border: none;
  background: #007dfa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  padding: 19px;

  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}
.Login form .button_wrapper button.job_details {
  background-color: #002140;
  width: 200px;
  margin-right: 10px;
}
.Login .form_area_canditate {
  padding: 5rem 0rem;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: space-between; */
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.Login .form_area_canditate .form_area {
  width: 100%;
}
.Login .form_area_canditate .form_area > p a {
  color: #007dfa;
  font-weight: 600;
}
.Login .form_area_canditate .notes {
  margin-top: 6rem;
}
.Login .form_area_canditate .notes > h1 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #2f3367;
}
.Login .form_area_canditate .notes p,
.Login .form_area_canditate .notes li {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #2f3367;
}
.Login .form_area_canditate .notes ul {
  margin-top: 20px;
}
.Login .form_area_canditate .notes ul > * + * {
  margin-top: 3px;
}
.Login .form_area_video {
  overflow: auto;
  display: block;
}
.Login .form_area_video .button_wrapper {
  justify-content: center;
  margin-top: 30px;
}
.Login .form_area_video .button_wrapper button {
  width: 200px;
}
.form_area_video .notes {
  text-align: center !important;
  justify-content: center !important;
}
.Login .form_area_video .form_area > h1,
.Login .form_area_video .form_area > p,
.Login .form_area_video .notes p {
  text-align: center;
}
.Login .form_area_video .notes {
  margin-top: 4rem;
}

.Login .form_area_video::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 1080px) {
  .Login {
    grid-template-columns: 1fr;
  }
  .Login .left_area {
    display: none;
  }
}
@media screen and (max-width: 508px) {
  .Login form .button_wrapper {
    flex-direction: column;
  }
  .Login form .button_wrapper > * + * {
    margin-top: 10px;
  }
  .Login form .button_wrapper button {
    width: 100% !important;
    height: 50px;
    font-size: 18px;
  }
}
@media screen and (max-width: 508px) {
  .Login,
  .Login .form_area_canditate {
    height: 100% !important;
    overflow: auto !important;
  }
}
@media screen and (max-width: 480px) {
  .Login .right_area .form_area {
    width: 90%;
  }
  .Login .form_area_canditate .form_area {
    width: 100%;
  }
}
@media screen and (max-width: 380px) {
  .Login .right_area .form_area .bottom_area {
    flex-direction: column;
  }
}
